<%- include ("../public/page_header.html") %>



<div class="panel panel-default">
    <div class="panel-heading">
        增加轮播图
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/<%=adminPath%>/focus/doAdd" method="post" enctype="multipart/form-data">
                <ul>
                    <li>  <span>分　　类: </span>
                        <select name="type" id="type">
                            <option value="1">网站</option>
                            <option value="2">APP</option>
                            <option value="3">小程序</option>
                        </select>
                    </li>
                    <li> <span>名　　称: </span> <input type="text" name="title"/></li>
                    <li>  <span>跳转地址:</span> <input type="text" name="link"/></li>
                    <li>  <span>轮 播 图:</span> <input type="file" name="focus_img"/></li>
                    <li> <span>排　　序: </span> <input type="text" name="sort" value="1000"/></li>
                    <li> <span>状　　态: </span> <input type="radio" name="status" checked value="1" id="a"/> <label for="a">显示</label>    <input type="radio" name="status" value="0" id="b"/><label for="b">隐藏</label> 　</li>                  
                    <li>
                        <br/>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </li>

                </ul>
            </form>
        </div>
    </div>


</div>

</body>

</html>